
 <div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="memberModalLabel">Welkom op mijn site!</h4>
      </div>
      <div class="modal-body">
       //content
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Sluit</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$('#modal').click(function () {

  $('#memberModal').modal('show');

});

  </script>
<script type="text/javascript">
$('#modal').click(function () {

  $('#memberModal').modal('show');

});

  </script>