.round-button {
    display:block;
    width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button:hover {
    background: #262626;
}
body{
   background-image: url("Assets/background.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
#button1{
  position: absolute;
  top:56px;
  left: 520px;
}
#button2{
  position: absolute;
  top:65px;
  left: 125px;
}
.center{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
img{
  height:450px;

}
