body{
background-image: url("Assets/background.jpg");
background-repeat: no-repeat;
background-size: cover;
font-family: "Jens", sans-serif;
}
.center{
  position: fixed;
  top: 60%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
img{
  height: 60%;
}
#box{
  background-color: rgba(187,236,19, 52);
  padding:20px;
  border-radius: 100px 400px;
}
#cel{
  padding:1.875em;
}
@font-face {
  font-family: "Jens";
  src: url(Scripts/Lobster-Regular.ttf) format("truetype");
}
#titel{
  left: 38%;
  font-size: 250%;
  position: absolute;
}
.myButton {
	background-color:transparent;
	border-radius:24px;
	border:3px solid #0e0f0e;
	display:inline-block;
	color:#212021;
	font-family:Arial;
	font-size:18px;
	padding:5px 10px;
	text-decoration:none;
}
.myButton:hover {
	background-color:transparent;
}
.myButton:active {
	position:relative;
	top:1px;
}
#button1{
  position: relative;
  top:50%;
  left: 51%;
  z-index: 1;
}
